@import './components/clave';
@import './components/glitch';
@import './components/puntuacion';

@font-face {
    font-family: "chuky";
    src: url("../fonts/evil_laughter.otf");
}

body {
    background-color: #f7de8c;
    font-family: monospace;
    color: #000;

    header {
        text-align: center;
        margin-bottom: 10px;

        nav {
            position: fixed;
            top: 0px;
            left: 0px;
        }

        h1 {
            border-radius: 20%;
            text-align: center;
            width: 50%;
            background-color: rgba($color: #ffffff, $alpha: 0.9);
            color: black;
            margin-top: 10px;
            align-content: center;
            text-align: center;
            font-size: 40px;
            font-family: "kashima";

        }
    }

    main {
        margin-top: 80px;

        .container {


            .row {
                min-height: 16px;
                justify-content: space-between;

                div[class^='col-'] {
                    min-height: 60px;

                    #btnModal {
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        background-color: rgb(255, 0, 0);
                        font-family: "chuky";
                    }
                }
            }

        }
    }
}